<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='doyoulikemystyle.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PickPocket</title>

  </head>

 <body>

   <div class = "parallax img1"></div>

   <div class = "parallax img1">
     <div class="hero hero-lg" style = "background-color:rgba(255,255,255,0.4);">
       <div class="hero-body">
         <h1 class="bigboi">Do you want p o c k e t s ?</h1>
         <p class="textboi">Are you t i r e d of buying clothes without pockets? Do you want some of dat crisp S P A C E to store your belongings without having to scrounge around fifty different sites?</p>
       </div>
     </div>
  </div>

  <div class = "parallax img1"></div>

   <div class = "parallax img1">
     <div class="hero hero-lg" style ="background-color:rgba(255,255,255,0.4);">
       <div class="hero-body">
         <h1 class="bigboi">Introducing PickPocket!</h1>
         <p class="textboi">A simple chrome extension that can be used to automatically grab items with pockets when you shop online! Simply download the extension and click on the icon whenever you find yourself in need of those baggy bois!</p>
       </div>
     </div>
   </div>

  <div class = "parallax img1"></div>

   <div class = "parallax img1">
     <div class="hero hero-lg" style ="background-color:rgba(255,255,255,0.4);">
       <div class="hero-body">
         <h1 class="bigboi">How does it work?</h1>
         <p class="textboi">We use a combination of chrome extension stuff and google cloud machine-learning based image analysis to bring you pocket bois</p>
       </div>
     </div>
   </div>

 </body>

  </body>
</html>
